## COOPS data

In [1]:
import pandas as pd

In [2]:
import geopandas as gp

In [3]:
import matplotlib.pyplot as plt

In [4]:
%matplotlib widget

In [5]:
coops = pd.read_csv('coops_stations.csv')

In [6]:
coops['geometry'] = gp.GeoSeries.from_wkt(coops['geometry'])

In [7]:
gcoops = gp.GeoDataFrame(coops, geometry='geometry')

In [8]:
### get lat/lon
gcoops['lon'] = gcoops['geometry'].x
gcoops['lat'] = gcoops['geometry'].y

In [9]:
gcoops

,nos_id,nws_id,name,state,status,removed,geometry,lon,lat
0,1600012,46125,QREB buoy,NaN,active,NaN,POINT (122.62500 37.75000),122.6250,37.750000
1,1619910,SNDP5,"Sand Island, Midway Islands",NaN,active,NaN,POINT (-177.37500 28.21875),-177.3750,28.218750
2,1630000,APRP7,"Apra Harbor, Guam",NaN,active,NaN,POINT (144.62500 13.44531),144.6250,13.445312
3,1631428,PGBP7,"Pago Bay, Guam",NaN,active,NaN,POINT (144.75000 13.42969),144.7500,13.429688
4,1770000,NSTP6,"Pago Pago, American Samoa",NaN,active,NaN,POINT (-170.75000 -14.27344),-170.7500,-14.273438
...,...,...,...,...,...,...,...,...,...
430,8423898,FTPN3,Fort Point,NH,discontinued,"2020-04-13 00:00:00,2014-08-05 00:00:00,2012-0...",POINT (-70.68750 43.06250),-70.6875,43.062500
431,8726667,MCYF1,Mckay Bay Entrance,FL,discontinued,"2020-05-20 00:00:00,2019-03-08 00:00:00,2017-0...",POINT (-82.43750 27.90625),-82.4375,27.906250
432,8772447,FCGT2,Freeport,TX,discontinued,"2020-05-24 18:45:00,2018-10-10 21:50:00,2018-1...",POINT (-95.31250 28.93750),-95.3125,28.937500
433,9087079,GBWW3,Green Bay,WI,discontinued,"2020-10-28 13:00:00,2007-08-06 23:59:00,2007-0...",POINT (-88.00000 44.53125),-88.0000,44.531250
434,8770570,SBPT2,Sabine Pass North,TX,discontinued,"2021-01-18 00:00:00,2020-09-30 15:45:00,2020-0...",POINT (-93.87500 29.73438),-93.8750,29.734375