# GLOSS

In [ ]:
import pandas as pd
import numpy as np
import requests

In [ ]:
html = requests.get('https://www.gloss-sealevel.org/gloss-station-handbook').content

In [ ]:
gloss = pd.read_html(html)[0]

In [ ]:
gloss

In [ ]:
gloss[gloss['Station'].str.contains("Quarry")]

In [ ]:
#save DataFrame
gloss.to_csv('gloss.csv',encoding='utf-8',index=False)

## get data

In [21]:
gloss = pd.read_csv('gloss.csv')

In [22]:
gloss.head()

,Station,Country,Responsible country,Latitude(+ve N),Longitude(+ve E),GLOSSnumber
0,Abashiri,Japan,Japan,44.01666,144.28333,327
1,Abidjan,Cote d'Ivoire,Cote d'Ivoire,5.25000,-4.00000,257
2,Aburatsu,Japan,Japan,31.35000,131.25000,82
3,Acajutla,El Salvador,El Salvador,13.58330,-89.83333,182
4,"Acapulco, Gro.",Mexico,Mexico,16.83333,-99.91666,267

In [19]:
gloss[gloss['Station'].str.contains("Quarry")]

,Unnamed: 0,Station,Country,Responsible country,Latitude(+ve N),Longitude(+ve E),GLOSSnumber
212,213,Quarry Bay,Hong Kong,"Hong Kong, China",22.28333,114.21666,77